.NavBar {
    border: 1px solid #323232;
    color: #202020;
}

.NavLink {
    color: #202020;
    margin: 0px 8px 0px 8px;
    padding-left: 9px;
    padding-right: 2px;

    scale: 140%;
}

.NavLink:hover {
    color: #2747AD;
}

.Active i {
    color: #4f4f4f;
}